* {
  font: helvetica;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  box-sizing: border-box;
  border-radius: px;
  padding: 0;
  text-align: center;
}

.wrapper {
  display: grid;
  margin: 0px;
  grid-gap: px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, [row] auto);
  color: #444;
  height: 100vh;
}


.nest {
  color: #fff;
  padding: 0px;
  background-color: black;
}
.asia {
  background-color: #0146cf;
  color: #fff;
  padding: 20px;
  border-radius: 0px;
}
.africa {
  background-color: #1d9937;
  color: #fff;
  padding: 20px;
  border-radius: 0px;
}
.europe {
  background-color: #ff9414;
  color: #fff;
  padding: 20px;
  border-radius: 0px;
}
.america {
  background-color: #b1155f;
  color: #fff;
  padding: 20px;
  border-radius: 0px;
}




.a {
  grid-column: col 1 / span 3;
  grid-row: row 1/ span 4;
  display: grid;
  grid-gap: 4px;
  padding: 4px;
  grid-template-columns: repeat(1fr, 450px)

}

.india {
  grid-column: 1 / span 20;
  grid-row: 1 / span 25;
}

.china {
  grid-column: 21 / span 12;
  grid-row: 1 / span 25;
}

.pakistan {
  grid-column: 1 / span 16;
  grid-row: 26 / span 8;
}

.indonesia {
  grid-column: 1 / span 7;
  grid-row: 34 / span 15;
}

.bangladesh {
  grid-column: 8 / span 9;
  grid-row: 34 / span 8;
}

.phillippines {
  grid-column: 8 / span 9;
  grid-row: 42 / span 7;
}

.vietnam {
  grid-column: 17 / span 8;
  grid-row: 26 / span 4;
}

.afghanistan {
  grid-column: 17 / span 4;
  grid-row: 30 / span 6;
}

.turkey {
  grid-column: 25 / span 4;
  grid-row: 26 / span 5;
}

.iraq {
  grid-column: 29 / span 4;
  grid-row: 26 / span 5;
}

.iran {
  grid-column: 21 / span 4;
  grid-row: 30 / span 6;
}

.myanmar {
  grid-column: 25 / span 4;
  grid-row: 31 / span 5;
}

.japan {
  grid-column: 29 / span 4;
  grid-row: 31 / span 5;
}

.yemen {
  grid-column: 17 / span 2;
  grid-row: 36 / span 5;
}

.saudi {
  grid-column: 17 / span 4;
  grid-row: 41 / span 4;
}

.malaysia {
  grid-column: 17 / span 4;
  grid-row: 45 / span 4;
}

.thailand {
  grid-column: 19 / span 7;
  grid-row: 36 / span 3;
}

.nepal {
  grid-column: 19 / span 7;
  grid-row: 39 / span 2;
}

.syria {
  grid-column: 21 / span 5;
  grid-row: 41 / span 4;
}

.uzbekistan {
  grid-column: 21 / span 5;
  grid-row: 45 / span 4;
}

.north {
  grid-column: 26 / span 5;
  grid-row: 36 / span 2;
}

.sri {
  grid-column: 31 / span 2;
  grid-row: 36 / span 3;
}

.south {
  grid-column: 26 / span 3;
  grid-row: 38 / span 7;
}

.cambodia {
  grid-column: 29 / span 2;
  grid-row: 38 / span 7;
}

.kry {
  grid-column: 31 / span 2;
  grid-row: 39 / span 3;
}

.png {
  grid-column: 31 / span 2;
  grid-row: 42 / span 3;
}

.jordan {
  grid-column: 26 / span 2;
  grid-row: 45 / span 2;
}

.tajikistan {
  grid-column: 28 / span 2;
  grid-row: 45 / span 1;
}

.taiwan {
  grid-column: 28 / span 2;
  grid-row: 46/ span 1;
}

.laos {
  grid-column: 26 / span 1;
  grid-row: 47 / span 2;
}

.israel {
  grid-column: 27 / span 2;
  grid-row: 47 / span 2;
}

.kazakhstan {
  grid-column: 30/ span 2;
  grid-row: 45 / span 1;
}

.azerbaijan {
  grid-column: 29 / span 1;
  grid-row: 47 / span 2;
}

.uae {
  grid-column: 30 / span 2;
  grid-row: 46 / span 1;
}

.oman {
  grid-column: 30/ span 2;
  grid-row: 47 / span 1;
}

.armenia {
  grid-column: 30/ span 2;
  grid-row: 48 / span 1;
}

.pl {
  grid-column: 32/ span 1;
  grid-row: 45/ span 2;
}

.ac {
  grid-column: 32;
  grid-row: 47 / span 2;
}





.b {
  grid-column: col 4 / span 3;
  grid-row: row 1/ span 2;
  display: grid;
  padding: 4px;
  grid-gap: 4px;
  grid-template-columns: repeat(1fr, 450px);

}
.nigeria {
  grid-column: 1 / span 17;
  grid-row: 1 / span 9;
}

.ethiopia {
  grid-column: 18 / span 8;
  grid-row: 1 / span 8;
}

.egypt {
  grid-column: 26 / span 5;
  grid-row: 1 / span 8;
}

.congo {
  grid-column: 1/ span 17;
  grid-row: 10 / span 5;
}

.tanzania {
  grid-column: 18 / span 7;
  grid-row: 9/ span 6;
}

.uganda {
  grid-column: 25 / span 6;
  grid-row: 9 / span 6;
}

.sudan {
  grid-column: 1 /span 8;
  grid-row: 15 / span 4;
}

.angola {
  grid-column: 9 / span 6;
  grid-row: 15 / span 5;
}

.algeria {
  grid-column: 15 / span 4;
  grid-row: 15 / span 4;
}

.ivory {
  grid-column: 19 / span 4;
  grid-row: 15 / span 4;
}

.chad {
  grid-column: 23 / span 4;
  grid-row: 15 / span 4;
}

.zambia {
  grid-column: 27 / span 4;
  grid-row: 15 / span 4;
}

.kenya {
  grid-column: 1 / span 8;
  grid-row: 19 / span 5;
}

.mozambique {
  grid-column: 9 / span 6;
  grid-row: 20 / span 4;
}

.madagascar {
  grid-column: 15 / span 5;
  grid-row: 19 / span 4;
}

.burkina {
  grid-column: 20 / span 3;
  grid-row: 19 / span 4;
}

.morocco {
  grid-column: 23 / span 5;
  grid-row: 19 / span 4;
}

.malawi {
  grid-column: 28 / span 3;
  grid-row: 19 / span 4;
}

.niger {
  grid-column: 1 / span 6;
  grid-row: 24 / span 3;
}

.sa {
  grid-column: 1 / span 6;
  grid-row: 27 / span 3;
}

.cameroon {
  grid-column: 7 / span 8;
  grid-row: 24 / span 2;
}

.benin {
  grid-column: 15 / span 6;
  grid-row: 23/ span 2;
}

.senegal {
  grid-column: 15 / span 6;
  grid-row: 25 / span 2;
}

.guinea {
  grid-column: 15 / span 3;
  grid-row: 27 / span 3;
}

.somalia {
  grid-column: 18 / span 3;
  grid-row: 27 / span 3;
}

.burundi {
  grid-column: 21 / span 3;
  grid-row: 27 / span 3;
}

.zimbabwe {
  grid-column: 21 / span 3;
  grid-row: 23 / span 4;
}

.southsud {
  grid-column: 24 / span 4;
  grid-row: 23/ span 2;
}

.sierra {
  grid-column: 28 / span 3;
  grid-row: 23 / span 2;
}

.rwanda {
  grid-column: 24 / span 4;
  grid-row: 25 / span 2;
}

.togo {
  grid-column: 28 / span 3;
  grid-row: 25 / span 2;
}

.liberia {
  grid-column: 24 / span 1;
  grid-row: 27 / span 1;
}

.cog {
  grid-column: 25 / span 1;
  grid-row: 27 / span 1;
}

.libya {
  grid-column: 26 / span 3;
  grid-row: 27 / span 1;
}

.tunisia {
  grid-column: 24 / span 1;
  grid-row: 28 / span 2;
}

.eritrea {
  grid-column: 25 / span 1;
  grid-row: 28 / span 2;
}

.namibia {
  grid-column: 26/ span 3;
  grid-row: 28 / span 2;
}


.mauritania {
  grid-column: 29 / span 2;
  grid-row: 27/ span 3;
}

.ghana {
  grid-column: 7 / span 5;
  grid-row: 26 / span 4;
}

.mali {
  grid-column: 12 / span 3;
  grid-row: 26 / span 4;
}




.c {
  grid-column: col 4 / span 2;
  grid-row: row 3/ span 2;
  display: grid;
  padding: 4px;
  grid-gap: 4px;
  grid-template-columns: repeat(1fr, 450px);
}
.usa {
  grid-column: 1 / span 10;
  grid-row: 1 / span 8;
}
.brazil {
  grid-column: 1 / span 10;
  grid-row: 9 / span 6;
}
.mexico {
  grid-column: 11 / span 5;
  grid-row: 1 / span 7;
}
.venezuela {
  grid-column: 11 / span 3;
  grid-row: 8 / span 3;
}
.guatemala {
  grid-column: 14 / span 2;
  grid-row: 8 / span 3;
}

.canada {
  grid-column: 11 / span 2;
  grid-row: 11 / span 4;
}
.ecuador {
  grid-column: 13 / span 3;
  grid-row: 11 / span 2;
}
.haiti {
  grid-column: 13 / span 3;
  grid-row: 13 / span 2;
}
.colombia {
  grid-column: 16 / span 5;
  grid-row: 1 / span 2;
}
.argentina {
  grid-column: 16 / span 5;
  grid-row: 3 / span 2;
}
.peru {
  grid-column: 16 / span 5;
  grid-row: 5 / span 2;
}
.chile {
  grid-column: 16 / span 4;
  grid-row: 7 / span 3;
}
.dom {
  grid-column: 20 / span 1;
  grid-row: 7 / span 3;
}
.bolivia {
  grid-column: 16 / span 4;
  grid-row: 10 / span 2;
}
.honduras {
  grid-column: 20 / span 1;
  grid-row: 10 / span 2;
}
.paraguay {
  grid-column: 16 / span 2;
  grid-row: 12 / span 1; 
}
.salvador {
  grid-column: 16 / span 2;
  grid-row: 13 / span 1;
}
.cuba {
  grid-column: 16 / span 2;
  grid-row: 14 / span 1;
}
.costarica {
  grid-column: 18 / span 3;
  grid-row: 14 / span 1;
}
.panama {
  grid-column: 18 / span 3;
  grid-row: 13/ span 1;
}
.nassau {
  grid-column: 18 / span 3;
  grid-row: 12/ span 1;
}



.d {
  grid-column: col 6 / span 1;
  grid-row: row 3/ span 2;
  display: grid;
  padding: 4px;
  grid-gap: 4px;
  grid-template-columns: 2fr 1fr;
}
.russia {
  grid-column: 1 / span 4;
  grid-row: 1 / span 6;
}
.france {
  grid-column: 5 / span 5;
  grid-row: 1 / span 3;
}
.germany {
  grid-column: 5 / span 5;
  grid-row: 4 / span 3;
}
.uk {
  grid-column: 1 / span 5;
  grid-row: 7 / span 3;
}
.italy {
  grid-column: 1 / span 5;
  grid-row: 10 / span 3;
}
.ukraine {
  grid-column: 1 / span 3;
  grid-row: 13 / span 4;
}
.spain {
  grid-column: 4 / span 2;
  grid-row: 13 / span 4;
}
.poland {
  grid-column: 6 / span 2;
  grid-row: 7 / span 2;
}
.belgium {
  grid-column: 6 / span 1;
  grid-row: 9 / span 2;
}
.sweden {
  grid-column: 7 / span 1;
  grid-row: 9 / span 2;
}
.czechia {
  grid-column: 8 / span 2;
  grid-row: 9 / span 2;
}
.lithuania {
  grid-column: 8 / span 2;
  grid-row: 7 / span 1;
}
.romania {
  grid-column: 8 / span 2;
  grid-row: 8 / span 1;
}
.switzerland {
  grid-column: 6 / span 2;
  grid-row: 11 / span 2;
}
.hungary {
  grid-column: 8 / span 2;
  grid-row: 11 / span 2;
}
.austria {
  grid-column: 6 / span 2;
  grid-row: 13 / span 2;
}
.greece {
  grid-column: 8 / span 2;
  grid-row: 13 / span 2;
}.portugal {
  grid-column: 6 / span 2;
  grid-row: 15 / span 2;
}
.belarus {
  grid-column: 8 / span 2;
  grid-row: 15 / span 2;
}
.australia {
  grid-column: 1 / span 9;
  grid-row: 17 / span 1;
  background-color: pink;
}
